body {

	background-image: url("https://il2.picdn.net/shutterstock/videos/5151608/thumb/9.jpg");
    background-position: bottom center;
	font-variant: small-caps;
    background-size: cover;
    font-family: "times new roman";

}

/*Stuff below governs the start screen*/

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #fff;
    font-size: 6em;
    text-shadow: 1px 1px 5px rgba(27, 25, 25, 0.74);
}

.button, #instructionbutton {
	border: 5px solid #383838;
    color: #383838;
    padding: 20px 50px;
    font-size: 5em;
    text-decoration: none;
    background-color: #abc;
    width: 75px;
}
  a.button:hover {
    background-color: #383838;
    color: #abc;
  }

  p {
    font-family: "times new roman";
    color: white;
  }

  #startpgtext {
    text-align: left;
    position: absolute;
        top: 650px;
  }

  #instructions {
    text-align: left;
    position: absolute;
        top: 650px;
  }

  #x {
    position: absolute;
        top: 661px;
        left: 1430px;
    height: 50px;
    width: 50px;
    float: right;
  }



/*Stuff below governs the Explore screen*/

#exploreBody {
	background-image: url("http://preview.turbosquid.com/Preview/2014/05/25__08_44_59/pic%202.jpgdcf7e882-62c2-4f49-b050-36d6bcba174fOriginal.jpg");
	background-position: bottom center;

}
#goldenkey{
    width: 80px;
    height: 20px;
    position: absolute;
    top: 650px;
    left: 490px;
}

#background3{
    background-image: url("http://img.photobucket.com/albums/v90/subrosa_florens/oblivion/Oblivion348.jpg")
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow: hidden;
}

#prisondoor{
    height: 350px;
    width: 175px;
    position: absolute;
    top: 150px;
    left: 350px;
}

#goldenkey2{
    width: 80px;
    height: 20px;
}

